<p id="notice"><%= notice %></p>

<p>
  <strong>Quantity:</strong>
  <%= @dish_ingredient.quantity %>
</p>

<%= link_to 'Edit', edit_dish_ingredient_path(@dish_ingredient) %> |
<%= link_to 'Back', dish_ingredients_path %>
